@import './resets';
@import './variables';

@function weight($weight-name){
  @return map-get($font-weights, $weight-name)
}

@mixin flexCenter($flex-direction){
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: $flex-direction;
}

body{
    background: $primary-color;
    color: $text-color;
}
.main{
    @include flexCenter(row);
    width: 80%;
    margin: 0 auto;
    #{&}__paragraph{
      font-weight: weight(regular);
      cursor: pointer;
    }
      &:hover{
        color: pink;
      }
}